.center_Element{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50%
}

.backgroundButton{
    background-color: #8a8e96;
}

.background{
    background-color: black;
}
